body {
	padding-top: calc(var(--sp-5) + var(--sp-2));
}
body > main {
	padding: var(--sp-3) 0;
}

.btn.nav-link {
	border: none;
	text-align: left;
	width: 100%;
}
.btn.nav-link:focus {
	/* Bootstrap replaces outline with box-shadow on focused .btn's */
	box-shadow: none;
}

.user-login,
.user-registration,
.registration-success {
	margin: auto;
}

@media (max-width: 392px) {
	.user-login,
	.user-registration {
		width: 100%;
		padding: 0 var(--sp-3);
	}
}
@media (min-width: 392px) {
	.user-login,
	.user-registration {
		width: 360px;
	}
}

.feed-items img {
	width: 100%;
}

.registration-success {
	text-align: center;
}
.registration-success .card-body > p:last-child {
	margin-bottom: 0;
}

details.feed-keywords:not([open]) > summary {
	border-bottom: 0;
}

.feed-keywords > .card-body,
.feed-items .card-body {
	padding-bottom: 0;
}

.feed-keywords .list-inline {
	text-align: center;
	margin-bottom: 0;
}

.feed-keywords .list-inline-item,
.feed-items .card-body > .row > div {
	margin-bottom: var(--sp-3);
}

.feed-items > .card {
	margin-top: var(--sp-3);
}
.feed-items .card-body p:last-child {
	margin-bottom: var(--sp-1-neg);
}

:root {
	/* Spacing as used by Boostrap's spacing utility classes */
	--sp-1: 0.25rem;
	--sp-2: 0.5rem;
	--sp-3: 1rem;
	--sp-4: 1.5rem;
	--sp-5: 3rem;
	--sp-1-neg: calc(-1 * var(--sp-1)); /* Negative --sp-1 */
}
